[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = https://github.com/go-mgo/mgo
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/dchest/safefile"]
	path = vendor/github.com/dchest/safefile
	url = https://github.com/dchest/safefile
[submodule "vendor/go4.org"]
	path = vendor/go4.org
	url = https://github.com/camlistore/go4
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
